build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.o
*.obj
*.a
*.so
*.dll
*.dylib
*.exe
*.out
*.log

.vscode/
*.code-workspace

*.tmp
*.bak
*.swp
*~
.DS_Store
Thumbs.db

vendor/**/build/
vendor/**/bin/
vendor/**/CMakeFiles/
vendor/**/CMakeCache.txt
vendor/**/cmake_install.cmake
vendor/**/include/
vendor/**/lib/
vendor/**/Makefile
vendor/**/test*/  # часто бывают тесты

imgui.ini
